<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>GoCoronaGO</title>
    <script>
        function startTime() {
          var today = new Date();
          var td = today.getDay;
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('txt').innerHTML =today ;
          var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
        </script>
</head>
<body onload="startTime()" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    <div style="background-color: transparent !important;" class="jumbotron">
        <div class="container">
            
            <h1 align="center"><strong>Corona Cases in India</strong></h1>
            <br>
            <div id="txt" align="center" style="font-size:x-large;"></div>
            <br>
            <iframe src="/dash" width="1140" height="1300" frameborder="0"></iframe>
            <hr>
            <table  class="table " align="center" style="border: 2px solid black !important; font-size:large;">
                <tbody></tbody>
                {% for i in range(mainList|length) %}
                {% if (i == 0) %}
                <tr style="font-size: larger;">
                    <td style="color: white; background-color: #E74C3C;"><strong>{{mainList[i][0]}}</td>
                    <td style="color: white; background-color: #E74C3C;"><strong>{{mainList[i][1]}}</td>
                    <td style="color: white; background-color: #E74C3C;"><strong>{{mainList[i][2]}}</td>
                    <td style="color: white; background-color: #E74C3C;"><strong>{{mainList[i][3]}}</td>
                    <td style="color: white; background-color: #E74C3C;"><strong>{{mainList[i][4]}}</td>
                </tr>
                {% elif i < ((mainList|length)) %}
                {% if ((i%2)==0) %}
                <tr>
                    <td style="background-color: #F2D7D5;">{{mainList[i][0]}}</td>
                    <td style="background-color: #F2D7D5;">{{mainList[i][1]}}</td>
                    <td style="background-color: #F2D7D5;">{{mainList[i][2]}}</td>
                    <td style="background-color: #F2D7D5;">{{mainList[i][3]}}</td>
                    <td style="background-color: #F2D7D5;">{{mainList[i][4]}}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{mainList[i][0]}}</td>
                    <td>{{mainList[i][1]}}</td>
                    <td>{{mainList[i][2]}}</td>
                    <td>{{mainList[i][3]}}</td>
                    <td>{{mainList[i][4]}}</td>
                </tr>
                {% endif %}
                {% endif %}
                <!-- {% if (i == 0) %}
                <tr style="font-size: larger;">
                    <td style="color: white; background-color: blueviolet;"><strong>{{mainList[i][0]}}</td>
                    <td style="color: white; background-color: blueviolet;"><strong>{{mainList[i][1]}}</td>
                    <td style="color: white; background-color: blueviolet;"><strong>{{mainList[i][2]}}</td>
                    <td style="color: white; background-color: blueviolet;"><strong>{{mainList[i][3]}}</td>
                    <td style="color: white; background-color: blueviolet;"><strong>{{mainList[i][4]}}</td>
                </tr>
                {% elif i < ((mainList|length) - 1) %}
                {% if ((i%2)==0) %}
                <tr>
                    <td style="background-color: rgba(112, 128, 144, 0.200);">{{mainList[i][0]}}</td>
                    <td style="background-color: rgba(112, 128, 144, 0.200);">{{mainList[i][1]}}</td>
                    <td style="background-color: rgba(112, 128, 144, 0.200);">{{mainList[i][2]}}</td>
                    <td style="background-color: rgba(112, 128, 144, 0.200);">{{mainList[i][3]}}</td>
                    <td style="background-color: rgba(112, 128, 144, 0.200);">{{mainList[i][4]}}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{mainList[i][0]}}</td>
                    <td>{{mainList[i][1]}}</td>
                    <td>{{mainList[i][2]}}</td>
                    <td>{{mainList[i][3]}}</td>
                    <td>{{mainList[i][4]}}</td>
                </tr>
                {% endif %}
                {% else %}
                <tr>
                    <td colspan="2"><strong>{{mainList[i][0]}}</td>
                    <td><strong>{{mainList[i][1]}}</td>
                    <td><strong>{{mainList[i][2]}}</td>
                    <td><strong>{{mainList[i][3]}}</td>
                </tr>
                <tr>
                    <td colspan="5"><strong>{{mainList[i][4]}}</td>
                </tr>
                {% endif %}-->
                {% endfor %} 
                <tr>
                    <td colspan="2"><strong>{{total[10]}}</td>
                    <td><strong>{{total[0]}}</td>
                    <td><strong>{{total[2]}}</td>
                    <td><strong>{{total[6]}}</td>
                </tr>
            </tbody>
            </table>
            <br>
            <!--<img src="/plot.png" alt="myplot" align="center" style="width: 100%; height: 600px;">-->
        </div>
    </div>
</body>
</html>